html {
    padding-top: 160px;
    font-family: 'Baloo Da', cursive;
}

body {
    font-family: 'Baloo Da', cursive;
}

.no-gutter {
    padding: 0;
}
.container-fluid {
    width: 100%;
    margin: auto;
}
.navbar-inverse {
    background-color: #212121;
    border-color: #000;
    font-weight: 700;
    font-size: 16px;
}
.navhead {
    background-color: #333;
    border-color: #333;
}
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
/*    border-top: 5px solid #333;*/
}
.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover {
    color: #ff9600;
    background-color: transparent;
    /*border-top: 5px solid #ff9600;*/
}
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    color: #ff9600;
    background-color: transparent;
/*    border-top: 5px solid #ff9600;*/
}
.joinlink {
    background: #ff9600;
    transition: all 0.3s ease-in-out;
}

.navbar-inverse .navbar-nav>.joinlink>a {
    font-size: 22px;
    color: white;
    transition: all 0.3s ease-in-out;
}

.navbar-inverse .navbar-nav>.joinlink>a:focus,
.navbar-inverse .navbar-nav>.joinlink>a:hover {
    color: #fff;
    background-color: #a9fd00;
/*    border-top: 5px solid #ff9600;*/
    font-size: 22px;
    transition: all 0.3s ease-in-out;
}

li.girlnav{
    background: url(../assets/pictures/girl-icon.png) center left no-repeat;
    margin-left: 10px;
    padding-left:2px;
}
li.girlnav:hover{
    background: transparent url(../assets/pictures/girl-icon-hover.png) center left no-repeat;
}

ul.pulljoin {
    padding: 0;
    margin: 0;
    font-size: 23px;
}
.navbar-toggle {
    position: relative;
    float: left;
    padding: 6px 10px;
}

.logo-wrapper {
    display: flex;
}

.header_logo {
    height: 90px;
    margin: auto 0 auto 5px;
    display: inline-block;
}

.caption-logo {
    display: inline-block;
    width: 60%;
    color: white;
    margin: auto;
    text-align: center;
    padding: 20px 10px;
    box-sizing: border-box;
    line-height: 1;
}

a,
a:hover {
    text-decoration: none;
}

.caption-logo--orange {
    font-size: 20px;
    color: #ff9600;
}

.img-responsive {
    border-radius: 5px 5px 0 0;
}

.download-wrapper {
    display: flex;
    padding: 10px;
    box-sizing: border-box;
    background: #e9eced;
    border-radius: 0 0 5px 5px;
}

.download-wrapper:hover .download__icon {
    background: #ff9600;
    transition: all 0.3s ease-in-out;
}

.download-wrapper:hover .download-text {
    color: #ff9600;
    transition: all 0.3s ease-in-out;
}

.download__icon {
    display: inline-block;
    width: 35px;
    height: 35px;
    background: #a9fd00;
    border-radius: 50%;
    margin: auto;
    transition: all 0.3s ease-in-out;
}

.icon-wrapper {
    display: flex;
    width: 35px;
    height: 35px;
}

.download-icon {
    display: block;
    margin: auto;
    height: 25px;
}

.download-text {
    display: inline-block;
    margin: auto;
    transition: all 0.3s ease-in-out;
    color: #4e4e4e;
}

.gallery {
    padding: 20px 0;
    box-sizing: border-box;
}

.footlink a {
    color: #000;
    font-weight: 700;
    font-size: 18px;
}
.btn-link {
    color: #FFF;
    background-color: #ff9600;
    border-color: #ff9600;
    text-decoration: none;
}
.btn-link:hover {
    color: #FFF;
    background-color: #ff9600;
    border-color: #ff9600;
    text-decoration: none;
}
.navbar-fixed-top {
    top: 0;
    border-width: 0;
    z-index: 10000000;
}

.getaccess {
    max-width: 350px;
    margin: 50px auto;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 45px;
    font-weight: bold;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
}

.getaccess:hover {
    background: #a9fd00;
    border-color: #a9fd00;
    transition: all 0.3s ease-in-out;
}

.images-wrapper {
    width: 24.8%;
    display: inline-block;
}

.images {
    position: relative;
}

.caption-wrapper {
    top:0;
    position: absolute;
    background: rgba(0,0,0,0.2);
    width: 100%;
    height: 100%;
    color: white;
    z-index: 1000000;
    display: flex;
    text-transform: uppercase;
    border-radius: 5px 5px 0 0;
    font-size: 30px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.caption-img {
    margin: auto;
    padding: 10px;
    box-sizing: border-box;
    border: 3px solid white;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.caption-img:hover {
    background: #ff9600;
    border: 3px solid #ff9600;
    transition: all 0.3s ease-in-out;
}

.images:hover .caption-wrapper {
    opacity: 1;
    transition: all 0.3s ease-in-out;
}



@media (max-width: 1200px) {
    .holder {
        width: 33%;
    }
}
@media only screen and (max-width: 992px) {
    html {
        padding-top: 145px;
    }
    .header_logo {
        height: 70px;
        margin: 5px 0 5px 5px;
    }
    .gallery .holder .play:hover {
        display: none;
    }

    .gallery {
        margin: 30px auto;
    }

    .images-wrapper {
        width: 33%;
    }
}
@media (max-width: 767px) {
    .holder {
        width: 50%;
    }

    html {
        padding-top: 0;
    }

    .navbar-fixed-bottom, .navbar-fixed-top {
        position: static;
    }

    .logo-wrapper,
    .header_logo {
        display: block;
    }

    .caption-logo {
        display: block;
        width: 90%;
        margin: 10px auto;
    }

    .navbar {
        margin-bottom: 0;
    }

    .gallery {
        margin-top: 0;
    }

    .images-wrapper {
        width: 49.7%;
    }
}

@media (max-width: 480px) {
    .images-wrapper {
        width: 95%;
        margin: 0 auto 10px;
        display: block;
    }

    .caption-logo {
        font-size: 23px;
    }

    .caption-logo--orange {
        font-size: 19px;
    }
}

@media (min-width: 1200px) {
    .gallery img {
        width: 100%;
        display: block;
    }
}

@media (min-width: 768px) {
    .hidden-small-up {
        display: none!important;
    }
    .navbar-nav>li>a {
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .navbar-right {
    float: right!important;
    margin-right: 0px; 
    }
}

 
@media (max-width: 647px) {
    .getaccess {
        font-size: 20px;
    }
}